* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #e0f7fa, #80deea);
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 2rem;
    min-height: 45vh;
    width: 40vh;
    margin: 1rem;
}

h2 {
  background: linear-gradient(90deg, #00796b, #0288d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-align: center; 
}



form {
    margin: 2rem 0 2rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    display: flex;
    border: 1px solid black;
    height: 2rem;
    border-radius: 2rem;
    align-items: center;
    color: black;
    justify-content: center;
    font-size: 1rem;

}

form button {
    height: 3rem;
    background-color: #00796b;
    color: #ffffff;
    font-size: 1.15rem;
    cursor: pointer;
}

form button:active {
  background-color: #004d40; /* darker shade jab press kare */
}